streamlit
extra-streamlit-components
pdf2image
pytesseract
Pillow
opencv-python-headless
layoutparser
layoutparser[layoutmodels]
layoutparser[ocr]
git+https://github.com/facebookresearch/detectron2.git